body{
    background:white;
}

@font-face {
	font-family: 'Segoe_UI'; 
	src: local('Segoe UI'),
		url(../font/Segoe_UI.ttf); 
}
@font-face {
	font-family: 'PlayfairDisplay'; 
	src: local('PlayfairDisplay'),
		url(../font/PlayfairDisplay.ttf); 
}
h1{
    font:normal 26px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
}
h2{
    font:normal 14px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    text-align: center;
}
h3{
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h31{
    color: #726E8D;
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h32{
    padding-left: 30px;
    color: #ACAAC0;
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h33{
    color: #ff0000;
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h35{
    color: #ACAAC0;
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h36{
    color: #FFFFFF;
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h4{
    font:normal 18px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h6{
    color: #FFFFFF;
    font:normal 18px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
}
h5{
    font:normal 60px PlayfairDisplay;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h51{
    font:normal 46px PlayfairDisplay;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h7{
    font:normal 34px PlayfairDisplay;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h8{
    font:normal 38px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h81{
    font:normal 34px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h9{
    font:normal 50px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h10{
    font:normal 24px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h11{
    color:#DF2824; 
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}

.text-block {
margin-top:26px;
}
.text-block1 {
margin-top:17px;
}
.text-block3 {
margin-top:21px;
}
.text-block4 {
margin-top:10px;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/ 
  margin-top:0px; /*делаем отступ сверху*/
  background:#FFFFFF; /*добавляем фон всему меню*/
  height: 20px; /*задаем высоту*/
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
color:#000000;}

ul a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:#000000; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
}
ul a:hover {
    border-radius: 3px;
  background: #F4F4F4;
  color:#000000;
  text-shadow: 0 1px 0 #fff;
  border-color: #c6c6c6;
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
}

li > ul {
        position:absolute;
        top:30px;
        display:none;   
    }
     
    /*Делаем скрытую часть видимой*/
    li:hover > ul {
        display:block; 
        width:250px;  /*Задаем ширину выпадающего меню*/      
    }
   li:hover > ul > li {
        background:white;
        float:none; /*Убираем горизонтальное позиционирование*/
    }

.line_shadow {
margin: 30px 0;
padding: 0;
height: 20px;
border: none;
border-top: 1px solid #333;
box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.line_shadow1 { 
  margin-top: -150px; /*делаем отступ сверху*/
height: 20px;
    width: 500px;
border: none;
border-top: 1px solid #333;
}
.line_shadow2 { 
    position: absolute;
  margin-top: 420px; /*делаем отступ сверху*/
height: 20px;
    width: 1460px;
border: none;
border-top: 1px solid #726E8D;
}

/*слайдшоу изображений*/
.img-slide {
 position: absolute;
 margin: 0; /*убираем отступы*/
  padding-left: 120px; /*убираем отступы*/ 
  margin-top:0px; /*делаем отступ сверху*/
 width:1290px; 
 height:477px;
    
}


.tekst1 {
position: absolute;
    text-align: center;
top: 60%;
right: 400px;
color: white;
width: 700px;
padding: 0px;
font:normal 60px PlayfairDisplay;
}


.centered {
    color: black;
  margin: 10px auto;
  width: 194px;
  height: 40px;
  background: #ffffff;
     padding: 4px;
  border-radius: 5px;
}
.angry-grid {
     margin-top: 450px;
  padding-left: 40px; /*убираем отступы*/
   display: grid; 
grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 500px;
   
}
  
#item-0 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 5;
   
}
#item-1 {

   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#item-2 {

   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 2;
   grid-column-end: 8;
   
}
#item-3 {

   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 7;
   
}
#item-4 {

   grid-row-start: 2;
   grid-column-start: 7;

   grid-row-end: 3;
   grid-column-end: 9;
   
}
#item-5 {

   grid-row-start: 1;
   grid-column-start: 8;

   grid-row-end: 2;
   grid-column-end: 11;
   
}
#item-6 {

   grid-row-start: 1;
   grid-column-start: 11;

   grid-row-end: 2;
   grid-column-end: 13;
   
}
#item-7 {
 
   grid-row-start: 2;
   grid-column-start: 9;

   grid-row-end: 3;
   grid-column-end: 13;
   
}


TD.leftcol {
  margin-top:0px; /*делаем отступ сверху*/
    padding-left: 130px; /*убираем отступы*/
    width: 500px; /* Ширина левой колонки с рисунком */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }

.centered1 {
  margin: 10px auto;
    background: #140E41;
  border-radius: 5px;
    text-align: center;
  width: 235px;
  height: 49px;
  border-radius: 7px;
}
.centered1 a{color: #FFFFFF}
.centered1:hover {
  margin: 10px auto;
    background: #C83936;
  border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
  width: 235px;
  height: 49px;
  border-radius: 7px;
}
.centered1 a:hover{color: #FFFFFF}
.angry-grid1 {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#ite-0 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
#ite-1 {
 
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 7;
   
}
#ite-2 {
 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#ite-3 {
 
   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 7;
   
}

.rectangle {
  margin: 10px auto;
    padding-left: 00px; /*убираем отступы*/ 
  width: 670px;
  height: 294px;
    background: #F4F4F4;
     padding: 4px;
  border-radius: 5px;
}

.blok {
   display: grid; 
padding-left: 10px;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
#bl1 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 5;
   
}
#bl2 {

   grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 5;
   
}
#bl3 {

   grid-row-start: 1;
   grid-column-start: 7;

   grid-row-end: 3;
   grid-column-end: 6;
   
}

.rectanglered {
    margin: 10px auto;
    margin-top:-250px; /*делаем отступ сверху*/
  width: 1360px;
  height: 291px;
    background: #C83936;
     padding: 0px;
  border-radius: 5px;
}


.blok2 {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#blk1 {
     color:#FFFFFF; 
margin: 50px auto;
    padding-left: 50px;
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 4;
   
}
#blk2 {
    margin: 40px auto;
 padding-left: 200px;
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 3;
   grid-column-end: 5;
   
}
.centered2{ 
    color:#FFFFFF;
  width: 248px;
  height: 50px;
    text-align: center;
  background: #C83936;
    border: 1px solid #FFFFFF;
     padding: 4px;
  border-radius: 5px;
}
.centered2:hover{
    background: #FFFFFF;
}
.centered2 a{
    color:#FFFFFF;
}
.centered2 a:hover {
    color:#C83936;
}
.indent{
  padding-left: 50px; /*убираем отступы*/ 
  margin-top: 100px; /*делаем отступ сверху*/
}
.indent1{
  margin-top: 50px; /*делаем отступ сверху*/
}
.indent112{
  margin-top: 90px; /*делаем отступ сверху*/
}
.indent11{
  margin-top: 20px; /*делаем отступ сверху*/
}
.indent113{
  margin-top: 30px; /*делаем отступ сверху*/
}
.indent111{
  margin-top: -300px; /*делаем отступ сверху*/
}
.indent2{
    padding-left: 320px;
  text-align: right;
    
}
.indent3{
  margin: 30px; 
}
.indent4{
    padding-left: 20px;
    
}
.indent5{
    margin-top: -240px;
    
}
.indent55{
    margin-top: -180px;
    
}
.tabel {
   display: grid; 
margin-top:10px; /*делаем отступ сверху*/
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#i0 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 3;
   
}
#i1 {
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 5;
   
}
TD.leftcol1 {
  margin-top:10px; /*делаем отступ сверху*/
    padding-left: 0px; /*убираем отступы*/
    width: 650px; /* Ширина левой колонки с рисунком */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }

footer{
    margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
    margin-top:150px; /*делаем отступ сверху*/
    padding: 10px 20px;
    height: 500px;
    background: #140E41;
    color: white;
}
.foter {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
    height: 450px;
   
}
#fo0 {
margin-top:50px; /*делаем отступ сверху*/
    height: 450px;
    padding-left: 20px; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 1;
   grid-column-end: 3;
   
}
#fo1 {
margin-top:50px; /*делаем отступ сверху*/
    
    height: 350px;
    padding-left: 200px; /*убираем отступы*/
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 1;
   grid-column-end: 3;
   
}
#fo2 {
margin-top:50px; /*делаем отступ сверху*/
    height: 450px;
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 1;
   grid-column-end: 6;
   
}

.position{
    color:#726E8D; 
    width: 200px;
    padding-left: 20px; /*убираем отступы*/ 
  margin-top: -50px; /*делаем отступ сверху*/
}
.position1{
    color:#726E8D; 
    width: 350px;
    padding-left: 350px; /*убираем отступы*/ 
  margin-top: -50px; /*делаем отступ сверху*/
    text-decoration:underline;
}
.position3{
    color:#726E8D; 
    width: 200px;
    padding-left: 330px; /*убираем отступы*/ 
  margin-top: -50px; /*делаем отступ сверху*/
}










.indent12{
  margin: 30px;
  padding-left: 50px; /*убираем отступы*/ 
  margin-top: 100px; /*делаем отступ сверху*/
}
.indent13{
  padding-left: 40px; /*убираем отступы*/ 
  margin-top: -10px; /*делаем отступ сверху*/
}

.dropbtn {
    background-color: white;
  color: #000000;
  padding: 8px;
  font-size: 16px;
  border: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #F4F4F4;
  border-radius: 5px;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
    
}

#myInput:focus {outline: 3px solid #f6f6f6;}

.dropdown {
  position: relative;
  display: inline-block;
      padding: 4px;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
    margin-top: 5px;
  background-color: #FFFFFF;
  min-width: 248px;
    min-height: 158px;
  overflow: auto;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  z-index: 1;
    
}


.dropdown-content a {
  color: black;
  padding: 10px 10px;
     border-radius: 5px;
  text-decoration: none;
  display: block;}
.dropdown a:hover {background-color: #f6f6f6;}

.show {display: block;}


.rectangle111 {
  margin: 20px;
    padding-left: 0px; /*убираем отступы*/ 
  width: 325px;
  height: 392px;
    background: #F4F4F4;
     padding: 4px;
  border-radius: 5px;
}
.rectangle1110 {
  margin: 20px;
    padding-left: 0px; /*убираем отступы*/ 
  width: 325px;
  height: 392px;
     padding: 4px;
}
.rectangle1111 {
  margin: 20px;
    padding-left: 0px; /*убираем отступы*/ 
  width: 325px;
  height: 461px;
    background: #C83936;
     padding: 4px;
  border-radius: 5px;
}
.productcard{
}
.productcard:hover{
    
}






TD.leftcol3 {
    padding-left: 10px; /*убираем отступы*/
    width: 800px; /* Ширина левой колонки с рисунком */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
.rectangle112 {
  margin: 30px;
    padding-left: 100px;  
  width: 670px;
  height: 670px;
    background: #F4F4F4;
     padding: 4px;
  border-radius: 5px;
}
.rectangle113 {
    position: absolute;
    margin-top: 20px;  
  width: 555px;
  height: 390px;
    background: #F4F4F4;
  border-radius: 6px;
}
.rectangle114 {  
    margin-top: 5px;
  width: 511px;
  height: 50px;
    border: 1px solid #ACAAC0;
  border-radius: 7px;
}
.rectangle115 { 
    margin-top: 5px;
    color: #ACAAC0;
   vertical-align: middle;
    text-align: center;
  width: 246px;
  height: 42px;
    
  border-radius: 7px;
}
.rectangle115:hover {
    color: #FFFFFF;
    text-align: center;
    margin-top: 3px; 
  width: 246px;
  height: 42px;
    border: 1px solid #ACAAC0;
    background: #140E41;
  border-radius: 7px;
}


.grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#a0 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
#a1 {
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#a2 { 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#a3 {
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 5;
   
}
.grid2 {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 88px;
   height: 100%;
   
}
  
#b0 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 1;
   grid-column-end: 3;
   
}
#b1 {
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 1;
   grid-column-end: 5;
   
}
.dropdown2 {
  position: relative;
  display: inline-block;
    border: 1px solid #ACAAC0;
    border-radius: 7px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 200px;
  overflow: auto;
  border: 1px solid #ACAAC0;
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;}
.dropdown2 a:hover {background-color: #140E41;}

.show {display: block;}

button2{
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    margin-top: 10px; 
  width: 511px;
  height: 50px;
    border: 1px solid #ACAAC0;
    background: #140E41;
  border-radius: 7px;
}
.rectanglered2 {
    margin-top:450px; /*делаем отступ сверху*/
  width: 555px;
  height: 97px;
    background: #C83936;
     padding: 0px;
  border-radius: 7px;
}
.indent14{
  margin: 0px;
  padding-left: 10px; /*убираем отступы*/ 
  margin-top: 10px; /*делаем отступ сверху*/
}
button1{
    position: absolute;
    color: #FFFFFF;
    text-align: center;
  width: 235px;
  height: 49px;
    border: 1px solid #FFFFFF;
  border-radius: 7px;
}
button3{
    position: absolute;
    top: 160px;
    left: 250px;
    color: #FFFFFF;
    text-align: center;
  width: 235px;
  height: 49px;
    border: 1px solid #FFFFFF;
  border-radius: 7px;
}
button3:hover{
    background: #FFFFFF;
}
.angry1-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#item-01 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   
}
#item-11 {
margin-top:15px;
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
#item-21 {
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 6;
   
}
button4{
    position: absolute;
    margin-top:20px;
    left: 1180px;
    color: #FFFFFF;
    text-align: center;
  width: 235px;
  height: 49px;
    border: 1px solid #FFFFFF;
  border-radius: 7px;
}
button4:hover{
    color: #C83936;
    background: #FFFFFF;
}
.gridopisanie {
    margin-top: 10px;
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
    width: 680px;
   
}
  
#m-0 {
color: #726E8D;
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 3;
   
}
#m-1 {
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 5;
    text-align: right;
   
}
.line_shadow3 { 
  margin-top: -40px; /*делаем отступ сверху*/
height: 10px;
    width: 550px;
border: none;
border-top: 1px solid #726E8D;
}