body{
    background:white;
}

@font-face {
	font-family: 'Segoe_UI'; 
	src: local('Segoe UI'),
		url(../font/Segoe_UI.ttf); 
}
@font-face {
	font-family: 'PlayfairDisplay'; 
	src: local('PlayfairDisplay'),
		url(../font/PlayfairDisplay.ttf); 
}
h1{
    font:normal 26px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
}
h2{
    font:normal 14px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    text-align: center;
}
h3{
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h4{
    font:normal 18px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h6{
    color:#FFFFFF; 
    font:normal 18px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
}
h6:hover {
  color:#ff0000; /*меняем цвет ссылок*//*добавляем эффект при наведении*/
}
h5{
    font:normal 60px PlayfairDisplay;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h7{
    font:normal 34px PlayfairDisplay;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h8{
    font:normal 38px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h9{
    font:normal 50px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h10{
    font:normal 24px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}
h11{
    color:#DF2824; 
    font:normal 16px Segoe_UI;
  left: 50%;
  margin: 0;
  top: 120%;
  width: 100%;
    
}

.text-block {
margin-top:26px;
}
.text-block1 {
margin-top:17px;
}
.text-block3 {
margin-top:21px;
}
.text-block4 {
margin-top:10px;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/ 
  margin-top:0px; /*делаем отступ сверху*/
  background:#FFFFFF; /*добавляем фон всему меню*/
  height: 20px; /*задаем высоту*/
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:#000000; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
}
a:hover {
  color:#ff0000; /*меняем цвет ссылок*//*добавляем эффект при наведении*/
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
}

li > ul {
        position:absolute;
        top:30px;
        display:none;   
    }
     
    /*Делаем скрытую часть видимой*/
    li:hover > ul {
        display:block; 
        width:250px;  /*Задаем ширину выпадающего меню*/      
    }
   li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }
.line_shadow {
margin: 30px 0;
padding: 0;
height: 20px;
border: none;
border-top: 1px solid #333;
box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.line_shadow1 { 
  margin-top: -150px; /*делаем отступ сверху*/
height: 20px;
    width: 500px;
border: none;
border-top: 1px solid #333;
}
.line_shadow2 { 
    position: absolute;
  margin-top: 420px; /*делаем отступ сверху*/
height: 20px;
    width: 1460px;
border: none;
border-top: 1px solid #726E8D;
}
.position{
    color:#726E8D; 
    position: absolute;
    top: 725%;
left: 60px;
}
.position1{
    color:#726E8D; 
    position: absolute;
    top: 725%;
left: 590px;
    text-decoration:underline;
}
.position3{
    color:#726E8D; 
    position: absolute;
    top: 725%;
left: 1290px;
}